@import nib
@import common

/* ----------------------------------------------------------------------------
 * About
 */

.section.about
  padding-bottom: 400px
  .header
    color: turquoise

.section.location
  padding-bottom: 600px
  // background: url(location-hall.jpg)
  // background-size: 100% auto
  // background-position: center center
  background: #d2b69e

  .header
    color: white
    text-shadow: 0 1px 1px rgba(black, 0.2)
