@import nib
@import common

/* ----------------------------------------------------------------------------
 * About
 */

.section.about
  background: #429143 url(about-test.jpg) center 0 repeat-x

  @media (min-width: 600px)
    padding-top: 75px
    padding-bottom: 150px

  .header
    color: turquoise

  .pullquote
    background: #93c8be

  img.one
    height: 380px

  .body
    text-shadow: 0 1px 1px rgba(white, 0.4)

/* ----------------------------------------------------------------------------
 */

.body
  width: 400px
  margin: 0 auto
  line-height: 1.6

  p, ul, ol
    margin-top: 20px

  > :first-child
    margin-top: 0

  > p:first-child:first-line
    font-weight: bold
    font-size: 1.1em

  > p:first-child:first-letter
    font-family: adelle-font
    font-weight: 900

    font-size: 3em
    float: left
    margin: 0 5px 0 -10px
    line-height: 1

  .pullquote
    width: 260px
    float: right
    font-size: 14pt
    font-family: adelle-font
    font-weight: 400

    margin: 0 -150px 0 20px

    color: darken(turquoise, 20%)
    padding: 20px

    position: relative
    z-index: 1

    &:first-line
      font-weight: 900

  strong
    font-weight: bold

  /* Mobile: Hide pullquote */
  @media (max-width: 600px)
    &
      width: auto
      padding: 0 20px

    .pullquote
      display: none

