// Colors
cream     = #fdefe1
scarlet   = #ec553f
turquoise = #1e908c
ochre     = #e5a141
lime      = #bcc58e

// Fonts
adelle-font  = adelle, sans-serif
proxima-font = proxima-nova-alt, proxima-nova, proxima nova, sans-serif

antialias()
  -webkit-font-smoothing: antialiased !important
  text-rendering: optimizeLegibility !important
