@import nib
@import common

/* ----------------------------------------------------------------------------
 * FAQ
 */

.section.faq
  background: turquoise url(speakers-bg.jpg)


/* FAQ header */
.header.faq
  clear: both
  color: white

.faq-list
  clear: both
  max-width: 980px
  margin: 0 auto

  color: lighten(turquoise, 60%)
  text-shadow: 0 1px 1px rgba(black, 0.2)
  font-size: 0.9em

  ul
    clearfix()

  a, a:visited
    color: white

  // Lines
  li
    border-top: solid 1px rgba(black, 0.1)
    box-shadow: inset 0 1px 0 rgba(white, 0.1)
    padding-top: 20px

  // Mobile: not side by side
  @media (max-width: 800px)
    ul
      padding: 0 30px

  // Desktop: side-by-side
  @media (min-width: 800px)
    li
      width: 50%
      box-sizing: border-box
      padding-right: 50px

      float: left

    &
      padding-bottom: 40px

  li:nth-child(2n+1)
    clear: both

  // Questions
  li strong
    display: block

    font-size: 1.3em
    font-weight: 700

    color: white
    text-shadow: 0 1px 1px rgba(black, 0.2)

  // Colorfullness
  li:nth-child(5n+1) strong,
  li:nth-child(5n+4) strong
    color: lighten(scarlet, 65%)
  li:nth-child(5n+2) strong
    color: lighten(lime, 50%)
  li:nth-child(5n+3) strong
    color: lighten(ochre, 50%)

  li p
    margin-bottom: 20px
