@import nib
@import common

/* ----------------------------------------------------------------------------
 * Location
 */

.section.location

  @media (min-width: 600px)
    padding-top: 75px
    padding-bottom: 150px

  // background: url(location-hall.jpg)
  // background-size: 100% auto
  // background-position: center center
  background: #d2b69e

  .header
    color: white
    text-shadow: 0 1px 1px rgba(black, 0.2)

  a.highlight
    color: #444
    text-shadow: 0 1px 1px rgba(white, 0.3)

    background-color: rgba(#fafae0, 0.4)
    padding: 1px 4px
    border-radius: 1px
    box-shadow: 0 1px 1px rgba(black, 0.2)

    transition: background-color 100ms ease

    &:hover
      background-color: rgba(#fafae0, 0.9)

    &:active
      transition: none
      background-color: scarlet
      color: white
      text-shadow: 0 1px 1px rgba(black, 0.3)

  .image img.one
    height: 371px

  .body
    text-shadow: 0 1px 1px rgba(white, 0.4)

/* List of benefits of the new location */
.location-benefits
  li
    padding-bottom: 20px

    font-weight: 400

  li strong
    color: darken(lime, 60%)
    display: block

    font-weight: 900
    font-family: adelle-font
    font-size: 1.3em
