@import nib
@import common

/* ----------------------------------------------------------------------------
 * Location
 */

.section.location
  padding-bottom: 100px
  // background: url(location-hall.jpg)
  // background-size: 100% auto
  // background-position: center center
  background: #d2b69e

  .header
    color: white
    text-shadow: 0 1px 1px rgba(black, 0.2)

