@import nib
@import common

/* ----------------------------------------------------------------------------
 * Schedule
 */

.section.schedule
  offset = 75px

  &
    background-color: #8ca630
    padding-top: offset

  .o-bg2
    absolute: left 0 top 0
    width: 100%
    height: offset
    background: white url(schedule-bg2.jpg)

  .o-backdrop
    absolute: left 0 top offset
    width: 100%
    height: 292px

    background: white url(schedule-backdrop.jpg) center 0 repeat-x

  .header, .event-info
    position: relative
    z-index: 1

  .header h2
    color: darken(ecru, 50%)

  .header .pre
    color: turquoise

  .header .pre span
    border-top-color: rgba(lime, 0.8)
    border-bottom-color: rgba(lime, 0.8)

  .event-map
    width: 100%
    margin: 20px auto 20px auto

  // iPad/iPhone
  .touch & .event-map
    width: 400px

  iframe
    box-shadow: 0 0 4px rgba(black, 0.4)

  // Mobile
  @media screen and (max-width: 600px)
    .event-map
      width: auto
      padding: 0 40px

.event-info
  text-align: center
  margin: 0 auto 40px auto

  dl
    display: inline-block
    vertical-align: top
    text-align: center

    width: 160px

    border-right: dotted 1px rgba(black, 0.2)

  dl:last-child
    border-right: 0

  /* Heading */
  dt
    font-weight: 700
    font-family: proxima-font
    text-transform: uppercase
    letter-spacing: 1px
    font-size: 10pt

    color: darken(ecru, 50%)
    text-shadow: 0 1px 1px rgba(white, 0.2)

  /* Value */
  dd
    font-family: adelle-font
    font-weight: 400
    font-size: 18pt

  dd small
    font-family: proxima-font
    font-size: 0.8em
    font-weight: bold
    text-transform: uppercase

  .registration dd
    color: turquoise
    
  .starts dd
    color: white
    text-shadow: 0 1px 1px rgba(black, 0.3)

  .ends dd
    color: scarlet

