@import nib
@import common

/* ----------------------------------------------------------------------------
 * Base
 */

body, input, td, th, textarea
  font-family: proxima-font
  font-size: 11pt
  line-height: 1.5
  color: #444

a
  color: turquoise
  text-decoration: none

/* ----------------------------------------------------------------------------
 * IE7 banner
 */

.unsupported-browser
  padding: 20px
  background: ochre

  color: white
  text-shadow: 0 1px 0 rgba(black, 0.3)

  text-align: center

  strong
    font-weight: bold
    font-size: 1.1em

  a
    background-color: lime
    color: white
    padding: 3px 10px
    border-radius: 2px
    margin-left: 10px

/* ----------------------------------------------------------------------------
 * Section base
 */

.section
  position: relative
  overflow: hidden
  width: 100%

  .header
    text-align: center
    margin: 50px 0
    font-size: 36pt

    font-family: adelle-font
    font-weight: 900

    position: relative
    z-index: 5

/* ----------------------------------------------------------------------------
 * Title
 */

.section.title
  &
    background: cream

  // Right ornament
  .o-right
    absolute: right 0 bottom 10px
    width: 669px
    height: 748px
    transition: all 300ms ease
    z-index: 1

  .o-left
    absolute: left 0 bottom 10px
    width: 708px
    height: 748px
    transition: all 300ms ease
    z-index: 2

  // Logo image
  .logo
    margin: 170px auto 40px auto
    text-align: center

    position: relative
    z-index: 5

  .logo img
    width: 639px
    height: 220px

  // PICC hall, etc
  .info
    margin: 40px auto 180px auto
    font-size: 16pt
    text-transform: uppercase
    font-weight: bold

    position: relative
    z-index: 4

  .info > *
    text-align: center

  .time
    color: turquoise

  .venue
    color: ochre
    margin-bottom: 10px

  .address
    font-size: 12pt

  .address.one
    color: scarlet

  .address.two
    color: green

  // Road ornament at the bottom
  .o-road
    image: 'title-road.png'
    height: 22px
    width: 100%

    position: relative
    z-index: 5

  // Mobile
  @media (max-width: 1250px)
    .o-right
      right: -50px
    .o-left
      left: -50px
  @media (max-width: 1050px)
    .o-right
      right: -150px
    .o-left
      left: -250px
  @media (max-width: 800px)
    .o-right
      right: -450px

  @media (max-width: 600px)
    .o-left
      left: -1000px
    .o-right
      right: 0
      opacity: 0.1

    .logo
      margin: 40px auto 20px auto
      width: 90%

    .logo img
      width: 100%
      height: auto

    .info
      margin: 20px auto 40px auto

    .o-road
      height: 11px
      background-size: (470px / 2) 11px
