@import nib

// Colors
cream     = #fdefe1
scarlet   = #ec553f
turquoise = #1e908c
ochre     = #e5a141
lime      = #bcc58e

// ----------------------------------------------------------------------------

body, input, td, th, textarea
  font-family: proxima nova, sans-serif
  font-size: 10pt
  line-height: 1.5
  color: #444

// ----------------------------------------------------------------------------

.section
  position: absolute
  overflow: hidden
  width: 100%

// ----------------------------------------------------------------------------

.section.title
  &
    background: cream

  .logo
    margin: 180px auto 40px auto
    text-align: center

  .logo img
    width: 639px
    height: 220px

  .info
    margin: 40px auto 180px auto
    font-size: 16pt
    text-transform: uppercase
    font-weight: bold

  .info > *
    text-align: center

  .time
    color: turquoise

  .venue
    color: ochre
    margin-bottom: 10px

  .address
    font-size: 12pt

  .address.one
    color: scarlet

  .address.two
    color: green

  .o-road
    image: 'title-road.png'
    height: 22px
    width: 100%

  @media (max-width: 600px)
    .logo
      margin: 40px auto 20px auto
      width: 90%

    .logo img
      width: 100%
      height: auto

    .info
      margin: 20px auto 40px auto

    .o-road
      height: 11px
      background-size: auto 11px
      image: 'title-road.png' (470px / 2) 11px
