.slideshow
  &, .slides, .slide
    display: block
    width: 450px
    height: 270px

    margin: 0
    padding: 0
    list-style-type: none

  &
    overflow: hidden
    position: relative

  .slides, .slide
    position: absolute
    top: 0
    left: 0

  .slide:not(:first-child)
    display: none
