horizontal-slideshow(width, height)
  &, .slides, .slide
    display: block
    width: width
    height: height

    margin: 0
    padding: 0
    list-style: none

  &
    overflow: hidden
    position: relative

  .slides
    width: 99999px

    position: absolute
    top: 0
    left: 0

  .slide
    float: left


.slideshow
  horizontal-slideshow(450px, 270px)
