@import nib
@import common

/* ----------------------------------------------------------------------------
 * Speakers section
 */

.section.speakers
  background: turquoise url(speakers-bg.jpg)
  color: white

  padding-bottom: 40px

  &:after
    content: ''
    display: block
    absolute: bottom -3px left 0

    width: 100%
    height: 2px
    z-index: 5
    border-top: dotted 3px #e9eee0

  // Header
  .header
    padding-top: 70px

    h2
      font-size: 46pt
      text-shadow: 0 1px 0 rgba(white, 0.5)
      color: scarlet

    .pre
      font-size: 12pt
      letter-spacing: 3px
      text-shadow: 0 1px 0 rgba(white, 0.5)

    .pre span
      border-top: solid 1px rgba(turquoise, 0.2)
      border-bottom: solid 1px rgba(turquoise, 0.2)

  // Phone
  @media screen and (max-width: 480px)
    .header h2
      font-size: 26pt


/* ============================================================================
 * Decorations
 */

.section.speakers
  offset = 150px
  .o-waves
    background: cream url(speakers-waves.jpg) center bottom repeat-x

    absolute: left 0 top 0
    width: 100%
    height: (353px + offset)

    z-index: 0

  .o-floaters
    image: 'speakers-floaters.png' 1167px 230px
    background-repeat: no-repeat
    background-position: center top

    absolute: left -95px top (120px + offset)
    width: 100%
    height: 230px

    z-index: 0

  .o-bed
    image: 'speakers-bed.jpg' 1031px 106px
    background-repeat: repeat-x
    background-position: center top

    absolute: left 0 bottom 0
    width: 100%
    height: 106px

    z-index: 0

/* ----------------------------------------------------------------------------
 * Speakers list
 */

.speakers-list
  &
    clearfix()

    margin: 80px auto 0 auto

    position: relative

  /* Desktop */
  @media screen and (min-width: 980px)
    &
      width: 980px
      padding-top: 220px
      padding-bottom: 120px

    .speaker
      z-index: 2

    .speaker.left
      float: left
      clear: both

    .speaker.right
      margin-top: 30px
      float: right

    .speaker:first-child
      margin-top: 0
    .speaker.left
      margin-top: -50px

    .o-line
      display: block

      width: 4px
      margin-left: -2px
      border-radius: 4px

      absolute: left 50% top 42px
      bottom: 90px

      background: lighten(ochre, 50%)
      z-index: 1

    .o-anchor
      display: block

      width: 23px
      height: 25px

      absolute: left 50% bottom 66px
      image: 'speakers-anchor.png' 23px 25px

      margin-left: -12px

    .speaker:after
      content: ''
      display: block

      width: 92px
      height: 35px

      position: absolute
      bottom: 80px
      z-index: 0

    .speaker.left:after
      right: -22px
      image: 'speakers-through-left.png' 92px 35px

    .speaker.right:after
      left: -22px
      image: 'speakers-through-right.png' 92px 35px

  // Mobile
  @media screen and (max-width: 980px)
    &
      padding-top: 70px

    .speaker
      display: block
      margin: 20px auto

// Each individual speaker
.speaker
  display: block
  position: relative

  padding: 10px

  &, .front, .back, .hero
    width: 450px
    height: 270px

  .front, .back, .hero
    box-sizing: border-box

  background: rgba(black, 0.1)
  border-radius: 1px
  box-shadow: inset 2px 2px 2px rgba(black, 0.1)

  // Transition stuff
  &
    perspective: 2000px

  .front, .back
    position: absolute
    top: 10px
    left: 10px

    transition: transform 200ms ease
    backface-visibility: hidden
    transform: translate3d(0,0,0)

  .front
    background: turquoise

  // Flippity
  &
    .front
      z-index: 3
    .back
      z-index: 2
      transform: rotateX(-180deg)

  &.active
    .front
      transform: rotateX(180deg)
      z-index: 2

    .back
      transform: rotateX(0)
      z-index: 3

  // Phone
  @media screen and (max-width: 480px)
    &, .front, .back, .hero
      width: 300px
      height: round(270px * (300 / 450))

    .meta
      bottom: auto
      left: auto
      top: 20px

    // More info button
    .meta .button
      display: none

    &, &.active
      &
        height: auto

      .front, .back
        position: static

      .back
        display: block
        transform: none
        height: auto

/* Back face */
.speaker .back
  background: lighten(lime, 10%)
  padding: 20px
  color: #222
  text-shadow: 0 1px 0 rgba(white, 0.3)

  font-size: 10pt

  .avatar
    position: relative
    float: right
    margin: 0 0 20px 20px

  .avatar, .avatar img, .avatar:after
    width: 100px
    height: 100px
    border-radius: 50px

  .avatar:after
    content: ''
    display: block
    position: absolute
    left: 0
    top: 0
    box-shadow: 0 1px 1px rgba(black, 0.2), inset 0 0 0 2px cream, inset 0 0 20px rgba(black, 0.5)

  .heading
    color: white
    text-shadow: 0 1px 0 rgba(black, 0.2)

    line-height: 1.3
    padding-bottom: 10px
    margin-bottom: 15px

    border-bottom: solid 1px rgba(black, 0.1)
    box-shadow: 0 1px 0 rgba(white, 0.2)

  .heading p
    font-weight: 700
    text-transform: uppercase

  .heading h3
    font-size: 22pt

    font-family: adelle-font
    font-weight: 900

  // Phone
  @media screen and (max-width: 480px)
    .heading h3
      font-size: 14pt
      line-height: 1.2
      margin-bottom: 5px

/* ============================================================================ 
 * Front card's meta thing
 */

.speaker
  .meta
    position: absolute
    z-index: 5

    bottom: 20px
    right: 20px

    text-transform: uppercase
    color: #444
    font-weight: bold
    line-height: 1.5
    font-size: 10pt

  &.left .meta
    text-align: right

  &.right .meta
    right: auto
    left: 20px

  // Each dymo tape
  .meta span
    background: rgba(white, 0.95)
    padding: 2px 7px 1px 7px
    box-shadow: 0 1px 1px rgba(black, 0.2), 0 0 2px rgba(black, 0.1), 3px 3px rgba(black, 0.1)
    border-radius: 1px

    cursor: pointer

  .meta:hover span
    background: white

  // More info button
  .meta .button
    padding: 10px 20px
    cursor: pointer
    background: transparent
    margin: 0 -20px -10px -20px

    span
      background: rgba(#444, 0.8)
      color: white
      font-size: 7pt
      padding: 0 7px 1px 7px
      letter-spacing: -1px

    span:before
      content: '\2022\2022\2022'

    &:hover span
      background: scarlet

    &:active span
      background: #111

  .meta h3 span
    padding: 3px 7px 1px 7px
    background-color: rgba(scarlet, 0.8)
    text-shadow: 0 1px 1px rgba(black, 0.3)
    color: white
    transition: background-color 300ms linear

  .meta:hover h3 span
    background-color: scarlet
    transition: none

  .meta h3:active span
    background-color: #444

  .meta h3
    font-family: adelle-font
    font-size: 18pt
    font-weight: 900

    text-transform: none
    margin-bottom: 4px

    cursor: pointer

  .name
    color: ochre
  .location
    color: turquoise
  .discipline
    color: lime
