@import nib
@import common

/* ----------------------------------------------------------------------------
 * Speakers section
 */

.section.speakers
  background: turquoise url(speakers-bg.jpg)
  color: white

  padding-bottom: 40px

  // Header
  .header
    color: scarlet
    h2
      font-size: 46pt

  offset = 50px

  .o-waves
    background: cream url(speakers-waves.jpg) center bottom repeat-x

    absolute: left 0 top 0
    width: 100%
    height: (353px + offset)

    z-index: 0

  .o-floaters
    image: 'speakers-floaters.png' 1167px 230px
    background-repeat: no-repeat
    background-position: center top

    absolute: left -95px top (120px + offset)
    width: 100%
    height: 230px

    z-index: 0

/* ----------------------------------------------------------------------------
 * Speakers list
 */

.speakers-list
  &
    clearfix()

    margin: 80px auto 0 auto

    position: relative

  /* Desktop */
  @media (min-width: 980px)
    &
      width: 980px
      padding-top: 120px
      padding-bottom: 120px

    .speaker.left
      float: left
      clear: both

    .speaker.right
      margin-top: 70px
      float: right

    .o-hook
      display: block

      width: 4px
      margin-left: -2px
      border-radius: 4px

      absolute: left 50% top 19px
      bottom: 0

      background: cream

    .speaker:after
      content: ''
      display: block

      height: 4px
      width: 50px

      position: absolute
      bottom: 80px
      z-index: 0

      opacity: 0.5

    .speaker.left:after
      right: -20px
      background: linear-gradient(left, rgba(cream, 0), cream)

    .speaker.right:after
      left: -20px
      background: linear-gradient(right, rgba(cream, 0), cream)


  // Mobile
  @media (max-width: 980px)
    &
      padding-top: 70px

    .speaker
      display: block
      margin: 20px auto

// Each individual speaker
.speaker
  display: block
  position: relative

  padding: 10px

  &, .front, .back, .hero
    width: 450px
    height: 270px

  .front, .back, .hero
    box-sizing: border-box

  background: rgba(black, 0.1)
  border-radius: 1px
  box-shadow: inset 2px 2px 2px rgba(black, 0.1)

  // Transition stuff
  &
    perspective: 2000px

  .front, .back
    position: absolute
    top: 10px
    left: 10px
    z-index: 1

    transition: transform 200ms ease
    backface-visibility: hidden

  &
    .back
      transform: rotateX(-180deg)

  &:hover, &.active
    .front
      transform: rotateX(180deg)

    .back
      transform: rotateX(0)

  // Back face
  .back
    background: lighten(lime, 10%)
    padding: 20px 40px
    color: #222
    text-shadow: 0 1px 0 rgba(white, 0.3)

    text-align: center
    font-size: 11pt

    .heading
      color: white
      text-shadow: 0 1px 0 rgba(black, 0.2)
      font-size: 22pt

      font-family: adelle-font
      font-weight: 900

      line-height: 1.3
      padding-bottom: 10px
      margin-bottom: 15px

      border-bottom: solid 1px rgba(black, 0.1)
      box-shadow: 0 1px 0 rgba(white, 0.2)

  // Front card's meta thing
  .meta
    position: absolute
    z-index: 1

    background: white
    padding: 10px 30px 10px 10px

    bottom: 20px
    right: 20px

    text-transform: uppercase
    color: #444
    font-weight: bold
    line-height: 1.4
    font-size: 10pt

  .meta h3
    font-family: adelle-font
    font-size: 18pt
    color: scarlet
    font-weight: 900

    text-transform: none
    margin-bottom: 4px

  .name
    color: ochre
  .location
    color: turquoise
  .discipline
    color: lime

  &.right .meta
    right: auto
    left: 20px
