@import nib
@import common

/* ----------------------------------------------------------------------------
 * Tickets
 */

.section.tickets
  background: seafoam url(tickets-backdrop.jpg) center 0 repeat-x
  text-shadow: 0 1px 0 rgba(white, 0.2)

  .header
    color: scarlet
    line-height: 1.3

  .header p
    font-size: 14pt
    color: #444
    font-family: proxima-font
    font-weight: 700

  /* Road ornament at the bottom */
  .o-road
    image: 'title-road.png' 471px 22px
    height: 22px
    width: 100%

    position: relative
    z-index: 5

    border-bottom: solid 3px ochre

.ticket-list
  &
    margin: 0 auto
    text-align: center

  // Mobile
  @media (max-width: 600px)
    .ticket
      margin: 30px auto 30px auto

  @media (min-width: 600px)
    .ticket
      margin: 20px 50px 10px 50px

  .ticket
    display: inline-block
    width: 250px
    height: 250px
    border-radius: 125px

    background: white
    box-shadow: 0 0 0 4px rgba(black, 0.05), 0 0 0 1px rgba(black, 0.05)
    text-align: center

    line-height: 1.4

    position: relative

    &:after
      content: ''
      display: block
      absolute: left 5px top 5px

      width: 236px
      height: 236px
      border-radius: 120px

      border: dotted 2px #ccc

    img
      width: 70px
      height: 120px
      margin-top: -40px
      background: cream
      margin-bottom: 15px

      position: relative
      z-index: 1

      box-shadow: 1px 1px 1px rgba(black, 0.2), -1px 1px 1px rgba(black, 0.2)

    h3
      font-weight: 700
      font-size: 18px
      text-transform: uppercase
      color: turquoise

    .price
      font-size: 32pt
      font-family: adelle-font
      font-weight: 400
      color: scarlet

      line-height: 1.1
      margin-bottom: 7px

      text-shadow: 1px 1px 0 white, 2px 2px 0 lighten(turquoise, 80%)

      &:before, &:after
        content: '\2219'
        opacity: 0.4
      &:before
        margin-right: 10px
      &:after
        margin-left: 10px

    &.student-pass
      .price
        color: darken(ecru, 20%)

    .type
      font-size: 9pt
      width: 160px
      margin: 3px auto 0 auto

    .type b
      font-weight: bold


/* Each pass contains: */
.pass-contents
  h3
    font-weight: 400
    font-family: adelle-font
    font-size: 1.5em
    color: turquoise
    text-align: center
    margin-bottom: 15px

  h3 span
    padding-bottom: 15px
    border-bottom: solid 1px rgba(black, 0.1)

  margin: 20px auto
  max-width: 800px
  line-height: 1.7

  @media (min-width: 600px)
    margin-top: -25px

  ul
    font-size: 1.2em
    text-align: center
    margin: 30px 0

  li
    padding: 9px 0
    text-align: center
    line-height: 1.3

  /* Desktop: Line them up horizontally */
  @media (min-width: 600px)
    li
      display: inline-block
      vertical-align: top
      width: 180px
      margin: 0 10px

  /* Mobile: No breaks */
  @media (max-width: 600px)
    br
      display: none

  li strong
    font-weight: bold
    display: block
    line-height: 1.3

  li small
    display: block
    font-size: 0.6em
    font-weight: 400
    font-family: adelle-font
    color: #777
    line-height: 1.6

    margin-top: 3px

  span.free
    background: ochre
    color: white
    text-shadow: 0 1px 1px rgba(black, 0.3)
    text-transform: uppercase
    font-family: proxima-font
    font-weight: 700
    padding: 2px 5px
    border-radius: 2px
    margin-left: 5px

    transform: rotate(15deg)

/* Important reminders: */
.pass-reminders
  position: relative

  box-shadow: inset 0 6px 4px -4px rgba(black, 0.1), inset 0 -6px 4px -4px rgba(black, 0.03)
  text-shadow: 0 1px 1px rgba(white, 0.3)

  &:after
    content: ''
    display: block
    absolute: top -3px left 0

    width: 100%
    height: 2px
    z-index: 5
    border-top: dotted 3px #e9eee0

  background: rgba(darken(seafoam, 5%), 0.8)
  padding: 30px 0
  margin-top: 30px

  .in
    margin: 0 auto
    max-width: 960px

    text-align: left
    line-height: 1.7
    font-size: 0.8em

  ul
    clearfix()

  li
    box-sizing: border-box
    padding: 0 10px

    display: block
    float: none
    width: auto

    text-align: center

  // Desktop: side by side layout
  @media (min-width: 600px)
    // Bullets
    li:before
      display: inline-block
      content: '\2014'
      margin-right: 5px
      color: turquoise
      width: 12px
      margin-left: -17px

    li
      padding-left: 17px
      padding-right: 20px
      float: left
      text-align: left
      width: 20%

      line-height: 1.5

    li:first-line
      font-weight: bold

/* Box with 'buy now' button */
.buy-box
  text-align: center
  margin: 20px 0

  .or
    display: inline-block
    margin: 0 10px

    font-size: 16pt

  .buy-button, .or
    vertical-align: middle

  .buy-button
    button-color(scarlet)

    padding: 15px 10px
    margin: 0 10px
    min-width: 250px
    line-height: 1.2

    strong, small
      display: block

    .amp
      text-transform: none

    strong
      font-weight: 700
      font-family: proxima-font
      font-size: 13pt
      text-transform: uppercase

    small
      color: lighten(scarlet, 80%)
      font-family: adelle-font
      font-size: 10pt
      margin-bottom: 3px


/* ----------------------------------------------------------------------------
 * Payment
 */

.payment-methods
  .in
    padding: 20px
    margin: 0 auto

  &
    font-size: 0.9em

  p
    margin: 20px 0

  h2 + p, h3 + p
    margin-top: 0

  h2, h3
    font-weight: bold
    font-size: 1.1em

  h2
    font-size: 1.4em
    font-family: adelle-font
    font-weight: 900
    color: scarlet
    margin: 20px 0
    text-align: center

  // Desktop
  @media (min-width: 600px)
    .in
      max-width: 900px
      clearfix()
    h2
      font-size: 1.6em

/* Establishments where you can buy */
.establishments
  clearfix()

  h3 strong
    color: darken(lime, 20%)
    margin-left: 10px

  article
    clearfix()
    margin-bottom: 20px
    box-sizing: border-box

  article img
    float: left
    margin: 8px 15px 0 0
    height: 40px
    width: 40px

    background: white
    padding: 5px
    border-radius: 3px
    box-shadow: 0 1px 1px rgba(black, 0.2), 0 0 0 4px rgba(black, 0.05)

  article p
    margin: 0

  @media (min-width: 600px)
    article
      float: left
      padding-right: 50px
      width: 50%
