@import nib
@import common

/* ----------------------------------------------------------------------------
 * Tickets
 */


.section.tickets
  background: #d9ede9

  .header
    color: scarlet

  padding-bottom: 50px

.ticket-list
  &
    margin: 0 auto
    text-align: center

  // Mobile
  @media (max-width: 600px)
    .ticket
      margin: 30px auto 30px auto

  @media (min-width: 600px)
    .ticket
      margin: 10px 50px 10px 50px

  .ticket
    display: inline-block
    width: 250px
    height: 250px
    border-radius: 125px

    background: white
    box-shadow: 0 0 0 4px rgba(black, 0.05)
    border: solid 1px turquoise
    text-align: center

    line-height: 1.4

    img
      width: (120px * 0.6)
      height: 120px
      margin-top: -40px
      background: cream
      margin-bottom: 15px

    h3
      font-weight: 700
      font-size: 18px
      text-transform: uppercase
      color: turquoise

    .price
      font-size: 28pt
      font-family: adelle-font
      font-weight: 900
      color: scarlet

    .type
      font-size: 9pt
      width: 160px
      margin: 3px auto 0 auto

    .type b
      font-weight: bold

/* Each pass contains: */
.pass-contents
  margin: 20px auto
  text-align: center
  line-height: 1.7

  h3
    font-weight: 700
    font-family: adelle-font
    font-size: 1.3em
    color: turquoise

/* Important reminders: */
.pass-reminders
  margin: 20px auto
  text-align: center
  line-height: 1.7

  h3
    font-weight: 700
    font-family: adelle-font
    font-size: 1.3em
    color: turquoise
