@import nib
@import common

/* ----------------------------------------------------------------------------
 * Tickets
 */


.section.tickets
  background: #d9ede9
  background: #e9eee0

  .header
    color: scarlet
    line-height: 1.3

  .header p
    font-size: 14pt
    color: #444
    font-family: proxima-font
    font-weight: 700

  padding-bottom: 50px

.ticket-list
  &
    margin: 0 auto
    text-align: center

  // Mobile
  @media (max-width: 600px)
    .ticket
      margin: 30px auto 30px auto

  @media (min-width: 600px)
    .ticket
      margin: 20px 50px 10px 50px

  .ticket
    display: inline-block
    width: 250px
    height: 250px
    border-radius: 125px

    background: white
    box-shadow: 0 0 0 4px rgba(black, 0.05)
    border: solid 1px turquoise
    text-align: center

    line-height: 1.4

    img
      width: (120px * 0.6)
      height: 120px
      margin-top: -40px
      background: cream
      margin-bottom: 15px

    h3
      font-weight: 700
      font-size: 18px
      text-transform: uppercase
      color: turquoise

    .price
      font-size: 28pt
      font-family: adelle-font
      font-weight: 900
      color: scarlet

    .type
      font-size: 9pt
      width: 160px
      margin: 3px auto 0 auto

    .type b
      font-weight: bold


/* Each pass contains: */
.pass-contents
  h3
    font-weight: 700
    font-family: adelle-font
    font-size: 1.3em
    color: turquoise
    text-align: center

  margin: 20px auto
  max-width: 800px
  line-height: 1.7

  ul
    font-size: 1.2em

  li
    padding: 6px 0
    font-weight: bold
    text-align: center

/* Important reminders: */
.pass-reminders
  margin: 30px auto
  max-width: 800px
  text-align: left
  line-height: 1.7
  font-size: 0.8em

  border-top: solid 1px rgba(black, 0.1)
  padding-top: 40px

  ul
    clearfix()

  li
    box-sizing: border-box
    padding: 0 10px

    display: block
    float: left
    width: 20%

    text-align: center

