@import nib
@import common

/* ----------------------------------------------------------------------------
 * Title
 */

@keyframes drift-1000px
  0%
    background-position: 0 0
  100%
    background-position: -1000px 0
@keyframes drift-1306px
  0%
    background-position: 0 0
  100%
    background-position: -1306px 0

.section.title
  &
    background-color: cream
    background-position: center 0
    image: 'title-sky.jpg' 1378px 722px
    height: 897px

  .o-road
    absolute: left 0 bottom 0
    width: 100%
    height: 179px
    image: 'title-road.jpg' 1000px 179px
    background-color: #92b562
    // animation: drift-1000px 90s linear infinite

  .o-trees
    absolute: left 0 bottom 179px
    width: 100%
    height: 176px
    image: 'title-trees.png' 1306px 176px
    // animation: drift-1306px 240s linear infinite

  // Logo image
  .logo
    margin: 170px auto 40px auto
    text-align: center

    position: relative
    z-index: 5

  .logo img
    width: 569px
    height: 196px

  // PICC hall, etc
  .info
    margin: 40px auto 180px auto
    font-size: 16pt
    text-transform: uppercase
    font-weight: bold

    position: relative
    z-index: 4

  .info > *
    text-align: center

  .time
    color: turquoise

  .venue
    color: ochre
    margin-bottom: 10px

  .address
    font-size: 12pt

  .address.one
    color: scarlet

  .address.two
    color: green

  // Mobile
  @media (max-width: 1250px)
    .o-right
      right: -50px
    .o-left
      left: -50px
  @media (max-width: 1050px)
    .o-right
      right: -150px
    .o-left
      left: -250px
  @media (max-width: 800px)
    .o-right
      right: -450px

  @media (max-width: 600px)
    .o-left, .o-right
      position: absolute
      top: auto
      bottom: 0

    .o-left
      left: -1000px
    .o-right
      right: 0
      opacity: 0.1

    .logo
      margin: 40px auto 20px auto
      width: 90%

    .logo img
      width: 100%
      height: auto

    .info
      margin: 20px auto 40px auto

    .o-road
      height: 11px
      background-size: (470px / 2) 11px

/* Download poster */
.poster
  background: rgba(lighten(cream, 80%), 0.8)
  border-radius: 2px

  box-shadow: 0 1px 1px rgba(black, 0.2), 0 0 2px rgba(black, 0.2)

  font-size: 8pt

  color: #444
  text-shadow: 0 1px 1px rgba(white, 0.2)

  p
    color: #888
    padding: 12px 15px

  strong
    font-weight: bold
    font-size: 1.2em
    line-height: 1.4
    color: #444

  .button
    font-weight: bold

    padding: 2px 7px
    margin: 5px 0

    button-color(scarlet, 0px)

  // Printing?
  p.extra
    box-shadow: inset 0 1px 0 rgba(black, 0.05), inset 0 4px 3px -3px rgba(black, 0.1)
    background: rgba(#eee, 0.8)
    border-bottom-left-radius: 3px
    border-bottom-right-radius: 3px

  p.extra a
    color: #666
  p.extra a:hover
    color: lighten(scarlet, 30%)

.section.title .poster
  width: 170px
  position: absolute
  bottom: 40px
  right: 20px

  z-index: 50
