@import nib
@import common

/* ----------------------------------------------------------------------------
 * Title
 */

.section.title
  &
    background: cream

  /* Ornaments */
  .o-right
    absolute: right 0 top 0
    width: 669px
    height: 748px
    transition: all 300ms ease
    z-index: 1

  .o-left
    absolute: left 0 top 0
    width: 708px
    height: 748px
    transition: all 300ms ease
    z-index: 2

  /* Desktop: fix the ornaments. This is pretty weird on an iPad */
  .desktop &
    .o-right, .o-left
      position: fixed

  /* Logo image */
  .logo
    margin: 170px auto 40px auto
    text-align: center

    position: relative
    z-index: 5

  .logo img
    width: 639px
    height: 220px

  /* PICC hall, etc */
  .info
    margin: 40px auto 180px auto
    font-size: 16pt
    text-transform: uppercase
    font-weight: bold

    position: relative
    z-index: 4

  .info > *
    text-align: center

  .time
    color: turquoise

  .venue
    color: ochre
    margin-bottom: 10px

  .address
    font-size: 12pt

  .address.one
    color: scarlet

  .address.two
    color: green

  /* Road ornament at the bottom */
  .o-road
    image: 'title-road.png' 471px 22px
    height: 22px
    width: 100%

    position: relative
    z-index: 5

  // Mobile
  @media (max-width: 1250px)
    .o-right
      right: -50px
    .o-left
      left: -50px
  @media (max-width: 1050px)
    .o-right
      right: -150px
    .o-left
      left: -250px
  @media (max-width: 800px)
    .o-right
      right: -450px

  @media (max-width: 600px)
    .o-left, .o-right
      position: absolute
      top: auto
      bottom: 0

    .o-left
      left: -1000px
    .o-right
      right: 0
      opacity: 0.1

    .logo
      margin: 40px auto 20px auto
      width: 90%

    .logo img
      width: 100%
      height: auto

    .info
      margin: 20px auto 40px auto

    .o-road
      height: 11px
      background-size: (470px / 2) 11px
