/* ----------------------------------------------------------------------------
 * About
 */
.section.about {
  background: #429143 url("about-test.jpg") center 0 repeat-x;
}
@media (min-width: 600px) {
  .section.about {
    padding-top: 75px;
    padding-bottom: 150px;
  }
}
.section.about .header {
  color: #1e908c;
}
.section.about .pullquote {
  background: #93c8be;
}
.section.about img.one {
  height: 380px;
}
.section.about .body {
  text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}
/* ----------------------------------------------------------------------------
 */
.body {
  width: 400px;
  margin: 0 auto;
  line-height: 1.6;
/* Mobile: Hide pullquote */
}
.body p,
.body ul,
.body ol {
  margin-top: 20px;
}
.body > :first-child {
  margin-top: 0;
}
.body > p:first-child:first-line {
  font-weight: bold;
  font-size: 1.1em;
}
.body > p:first-child:first-letter {
  font-family: adelle, sans-serif;
  font-weight: 900;
  font-size: 3em;
  float: left;
  margin: 0 5px 0 -10px;
  line-height: 1;
}
.body .pullquote {
  width: 260px;
  float: right;
  font-size: 14pt;
  font-family: adelle, sans-serif;
  font-weight: 400;
  margin: 0 -150px 0 20px;
  color: #187370;
  padding: 20px;
  position: relative;
  z-index: 1;
}
.body .pullquote:first-line {
  font-weight: 900;
}
.body strong {
  font-weight: bold;
}
@media (max-width: 600px) {
  .body {
    width: auto;
    padding: 0 20px;
  }
  .body .pullquote {
    display: none;
  }
}

