/* ----------------------------------------------------------------------------
 * Base
 */
body,
input,
td,
th,
textarea {
  font-family: proxima-nova-alt, proxima-nova, proxima nova, sans-serif;
  font-size: 11pt;
  line-height: 1.5;
  color: #444;
}
a {
  color: #1e908c;
  text-decoration: none;
}
.amp {
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  font-style: italic;
  font-family: baskerville, palatino, georgia, serif;
  font-weight: normal;
}
/* ----------------------------------------------------------------------------
 * IE7 banner
 */
.unsupported-browser {
  padding: 20px;
  background: #e5a141;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  text-align: center;
  position: relative;
  z-index: 150;
}
.unsupported-browser strong {
  font-weight: bold;
  font-size: 1.1em;
}
.unsupported-browser a {
  background-color: #cf851c;
  color: #fff;
  padding: 3px 4px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.unsupported-browser a.upgrade-browser {
  background-color: #ec553f;
  font-weight: bold;
}
/* ----------------------------------------------------------------------------
 * Section base
 */
.section {
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  background: #fdefe1;
}
.section .header {
  text-align: center;
  margin: 50px 0;
  position: relative;
  z-index: 5;
}
.section .header p.pre {
  font-family: proxima-nova-alt, proxima-nova, proxima nova, sans-serif;
  font-weight: 700;
  font-size: 12pt;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}
.section .header p.pre span {
  padding: 5px 0;
  border-top: solid 1px rgba(255,255,255,0.2);
  border-bottom: solid 1px rgba(255,255,255,0.2);
}
.section .header h2 {
  font-size: 36pt;
  font-family: adelle, sans-serif;
  font-weight: 900;
}
.section .header h2.larger {
  font-size: 42pt;
}
/* ----------------------------------------------------------------------------
 * Generic figure
 */
.figure {
  max-width: 980px;
  margin: 0 auto;
}
.figure .image,
.figure .image img {
  width: 530px;
  height: 300px;
}
@media screen and (min-width: 600px) {
  .figure .image {
    padding-top: 3px;
  }
}
.figure .image img {
  background: rgba(0,0,0,0.1);
}
@media screen and (min-width: 980px) {
  .figure .body,
  .figure .image {
    float: left;
  }
  .figure.leftie .image {
    margin-right: 40px;
  }
  .figure.rightie .body {
    margin-right: 40px;
  }
}
@media screen and (max-width: 600px) {
  .figure .image,
  .figure .image img {
    width: 280px !important;
    height: auto !important;
  }
  .figure .image img {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 980px) {
  .figure .body,
  .figure .image {
    margin: 20px auto;
  }
}
.figure img.bordered {
  width: 510px;
  display: block;
  background: #fdefe1;
  padding: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

