/* ----------------------------------------------------------------------------
 * FAQ
 */
.section.faq {
  background: #1e908c url("speakers-bg.jpg");
}
/* FAQ header */
.header.faq {
  clear: both;
  color: #fff;
}
.faq-list {
  clear: both;
  max-width: 980px;
  margin: 0 auto;
  color: #90e8e5;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  font-size: 0.9em;
}
.faq-list ul {
  zoom: 1;
}
.faq-list ul:before,
.faq-list ul:after {
  content: "";
  display: table;
}
.faq-list ul:after {
  clear: both;
}
.faq-list a,
.faq-list a:visited {
  color: #fff;
}
.faq-list li {
  border-top: solid 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  padding-top: 20px;
}
@media (max-width: 800px) {
  .faq-list ul {
    padding: 0 30px;
  }
}
@media (min-width: 800px) {
  .faq-list li {
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 50px;
    float: left;
  }
  .faq-list {
    padding-bottom: 40px;
  }
}
.faq-list li:nth-child(2n+1) {
  clear: both;
}
.faq-list li strong {
  display: block;
  font-size: 1.3em;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.faq-list li:nth-child(5n+1) strong,
.faq-list li:nth-child(5n+4) strong {
  color: #f8c4bc;
}
.faq-list li:nth-child(5n+2) strong {
  color: #dee2c7;
}
.faq-list li:nth-child(5n+3) strong {
  color: #f2d0a0;
}
.faq-list li p {
  margin-bottom: 20px;
}

