/* ----------------------------------------------------------------------------
 * Location
 */
.section.location {
  padding-bottom: 100px;
  background: #d2b69e;
}
.section.location .header {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

