/* ----------------------------------------------------------------------------
 * Venue
 */
.section.venue {
  background: #d2b69e;
}
@media (min-width: 600px) {
  .section.venue {
    padding-top: 75px;
    padding-bottom: 150px;
  }
}
.section.venue .image {
  height: auto;
}
.section.venue .header {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.section.venue a.highlight {
  color: #444;
  text-shadow: 0 1px 1px rgba(255,255,255,0.3);
  background-color: rgba(250,250,224,0.4);
  padding: 1px 4px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -webkit-transition: background-color 100ms ease;
  -moz-transition: background-color 100ms ease;
  -o-transition: background-color 100ms ease;
  -ms-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
}
.section.venue a.highlight:hover {
  background-color: rgba(250,250,224,0.9);
}
.section.venue a.highlight:active {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  background-color: #ec553f;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.section.venue .image img.one {
  height: 371px;
}
.section.venue .body {
  text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}
/* List of benefits of the new location */
.location-benefits li {
  padding-bottom: 20px;
  font-weight: 400;
}
.location-benefits li strong {
  color: #525a2e;
  display: block;
  font-weight: 900;
  font-family: adelle, sans-serif;
  font-size: 1.3em;
}

