/* ----------------------------------------------------------------------------
 * Schedule
 */
.section.schedule {
  background-color: #8ca630;
  padding-top: 75px;
}
.section.schedule .o-bg2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #fff url("schedule-bg2.jpg");
}
.section.schedule .o-backdrop {
  position: absolute;
  left: 0;
  top: 75px;
  width: 100%;
  height: 292px;
  background: #fff url("schedule-backdrop.jpg") center 0 repeat-x;
}
.section.schedule .header,
.section.schedule .event-info {
  position: relative;
  z-index: 1;
}
.section.schedule .header h2 {
  color: #7e593a;
}
.section.schedule .header .pre {
  color: #1e908c;
}
.section.schedule .header .pre span {
  border-top-color: rgba(188,197,142,0.8);
  border-bottom-color: rgba(188,197,142,0.8);
}
.section.schedule .event-map {
  width: 100%;
  margin: 20px auto 20px auto;
}
.touch .section.schedule .event-map {
  width: 400px;
}
.section.schedule iframe {
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.4);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
}
@media screen and (max-width: 600px) {
  .section.schedule .event-map {
    width: auto;
    padding: 0 40px;
  }
}
.event-info {
  text-align: center;
  margin: 0 auto 40px auto;
/* Heading */
/* Value */
}
.event-info dl {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 160px;
  border-right: dotted 1px rgba(0,0,0,0.2);
}
.event-info dl:last-child {
  border-right: 0;
}
.event-info dt {
  font-weight: 700;
  font-family: proxima-nova-alt, proxima-nova, proxima nova, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10pt;
  color: #7e593a;
  text-shadow: 0 1px 1px rgba(255,255,255,0.2);
}
.event-info dd {
  font-family: adelle, sans-serif;
  font-weight: 400;
  font-size: 18pt;
}
.event-info dd small {
  font-family: proxima-nova-alt, proxima-nova, proxima nova, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}
.event-info .registration dd {
  color: #1e908c;
}
.event-info .starts dd {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.event-info .ends dd {
  color: #ec553f;
}

