.slideshow,
.slideshow .slides,
.slideshow .slide {
  display: block;
  width: 450px;
  height: 270px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.slideshow {
  overflow: hidden;
  position: relative;
}
.slideshow .slides,
.slideshow .slide {
  position: absolute;
  top: 0;
  left: 0;
}
.slideshow .slide:not(:first-child) {
  display: none;
}

