/* ----------------------------------------------------------------------------
 * Speakers section
 */
.section.speakers {
  background: #1e908c url("speakers-bg.jpg");
  color: #fff;
  padding-bottom: 40px;
}
.section.speakers:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 5;
  border-top: dotted 3px #e9eee0;
}
.section.speakers .header {
  padding-top: 70px;
}
.section.speakers .header h2 {
  font-size: 46pt;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  color: #ec553f;
}
.section.speakers .header .pre {
  font-size: 12pt;
  letter-spacing: 3px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.section.speakers .header .pre span {
  border-top: solid 1px rgba(30,144,140,0.2);
  border-bottom: solid 1px rgba(30,144,140,0.2);
}
@media screen and (max-width: 480px) {
  .section.speakers .header h2 {
    font-size: 26pt;
  }
}
/* ============================================================================
 * Decorations
 */
.section.speakers .o-waves {
  background: #fdefe1 url("speakers-waves.jpg") center bottom repeat-x;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 503px;
  z-index: 0;
}
.section.speakers .o-floaters {
  background-image: url("speakers-floaters.png");
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  left: -95px;
  top: 270px;
  width: 100%;
  height: 230px;
  z-index: 0;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .section.speakers .o-floaters {
    background-image: url("speakers-floaters@2x.png");
    -webkit-background-size: 1167px 230px;
    -moz-background-size: 1167px 230px;
    background-size: 1167px 230px;
  }
}
.section.speakers .o-bed {
  background-image: url("speakers-bed.jpg");
  background-repeat: repeat-x;
  background-position: center top;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 106px;
  z-index: 0;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .section.speakers .o-bed {
    background-image: url("speakers-bed@2x.jpg");
    -webkit-background-size: 1031px 106px;
    -moz-background-size: 1031px 106px;
    background-size: 1031px 106px;
  }
}
/* ----------------------------------------------------------------------------
 * Speakers list
 */
.speakers-list {
  zoom: 1;
  margin: 80px auto 0 auto;
  position: relative;
}
.speakers-list:before,
.speakers-list:after {
  content: "";
  display: table;
}
.speakers-list:after {
  clear: both;
}
@media screen and (min-width: 980px) {
  .speakers-list {
    width: 980px;
    padding-top: 220px;
    padding-bottom: 120px;
  }
  .speakers-list .speaker {
    z-index: 2;
  }
  .speakers-list .speaker .front,
  .speakers-list .speaker .back {
    z-index: 3;
  }
  .speakers-list .speaker.left {
    float: left;
    clear: both;
  }
  .speakers-list .speaker.right {
    margin-top: 30px;
    float: right;
  }
  .speakers-list .speaker:first-child {
    margin-top: 0;
  }
  .speakers-list .speaker.left {
    margin-top: -50px;
  }
  .speakers-list .o-line {
    display: block;
    width: 4px;
    margin-left: -2px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 42px;
    bottom: 90px;
    background: #f2d0a0;
    z-index: 1;
  }
  .speakers-list .o-anchor {
    display: block;
    width: 23px;
    height: 25px;
    position: absolute;
    left: 50%;
    bottom: 66px;
    background-image: url("speakers-anchor.png");
    margin-left: -12px;
  }
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
 {
      background-image: url("speakers-anchor@2x.png");
      -webkit-background-size: 23px 25px;
      -moz-background-size: 23px 25px;
      background-size: 23px 25px;
    }
}
  .speakers-list .speaker:after {
    content: '';
    display: block;
    width: 92px;
    height: 35px;
    position: absolute;
    bottom: 80px;
    z-index: 0;
  }
  .speakers-list .speaker.left:after {
    right: -22px;
    background-image: url("speakers-through-left.png");
  }
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
 {
      background-image: url("speakers-through-left@2x.png");
      -webkit-background-size: 92px 35px;
      -moz-background-size: 92px 35px;
      background-size: 92px 35px;
    }
}
  .speakers-list .speaker.right:after {
    left: -22px;
    background-image: url("speakers-through-right.png");
  }
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
 {
      background-image: url("speakers-through-right@2x.png");
      -webkit-background-size: 92px 35px;
      -moz-background-size: 92px 35px;
      background-size: 92px 35px;
    }
}
}
@media screen and (max-width: 980px) {
  .speakers-list {
    padding-top: 70px;
  }
  .speakers-list .speaker {
    display: block;
    margin: 20px auto;
  }
}
.speaker {
  display: block;
  position: relative;
  padding: 10px;
  background: rgba(0,0,0,0.1);
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1);
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1);
}
.speaker,
.speaker .front,
.speaker .back,
.speaker .hero {
  width: 450px;
  height: 270px;
}
.speaker .front,
.speaker .back,
.speaker .hero {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.speaker {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  perspective: 2000px;
}
.speaker .front,
.speaker .back {
  position: absolute;
  top: 10px;
  left: 10px;
}
.speaker .front transition: transform 200msease,
.speaker .back transition: transform 200msease {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.speaker .front {
  z-index: 2;
}
.speaker .back {
  z-index: 1;
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  -o-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
  display: none;
}
.speaker.active .front {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
  z-index: 1;
}
.speaker.active .back {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -o-transform: rotateX(0);
  -ms-transform: rotateX(0);
  transform: rotateX(0);
  z-index: 2;
  display: block;
}
@media screen and (max-width: 480px) {
  .speaker,
  .speaker .front,
  .speaker .back,
  .speaker .hero {
    width: 300px;
    height: 180px;
  }
  .speaker .meta {
    bottom: auto;
    left: auto;
    top: 20px;
  }
  .speaker .meta .button {
    display: none;
  }
  .speaker,
  .speaker.active {
    height: auto;
  }
  .speaker .front,
  .speaker.active .front,
  .speaker .back,
  .speaker.active .back {
    position: static;
  }
  .speaker .back,
  .speaker.active .back {
    display: block;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    height: auto;
  }
}
/* Back face */
.speaker .back {
  background: #c3cb99;
  padding: 20px;
  color: #222;
  text-shadow: 0 1px 0 rgba(255,255,255,0.3);
  font-size: 10pt;
}
.speaker .back .avatar {
  position: relative;
  float: right;
  margin: 0 0 20px 20px;
}
.speaker .back .avatar,
.speaker .back .avatar img,
.speaker .back .avatar:after {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.speaker .back .avatar:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 0 0 2px #fdefe1, inset 0 0 20px rgba(0,0,0,0.5);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 0 0 2px #fdefe1, inset 0 0 20px rgba(0,0,0,0.5);
}
.speaker .back .heading {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  line-height: 1.3;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: solid 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2);
  box-shadow: 0 1px 0 rgba(255,255,255,0.2);
}
.speaker .back .heading p {
  font-weight: 700;
  text-transform: uppercase;
}
.speaker .back .heading h3 {
  font-size: 22pt;
  font-family: adelle, sans-serif;
  font-weight: 900;
}
@media screen and (max-width: 480px) {
  .speaker .back .heading h3 {
    font-size: 14pt;
    line-height: 1.2;
    margin-bottom: 5px;
  }
}
/* ============================================================================ 
 * Front card's meta thing
 */
.speaker .meta {
  position: absolute;
  z-index: 5;
  bottom: 20px;
  right: 20px;
  text-transform: uppercase;
  color: #444;
  font-weight: bold;
  line-height: 1.5;
  font-size: 10pt;
}
.speaker.left .meta {
  text-align: right;
}
.speaker.right .meta {
  right: auto;
  left: 20px;
}
.speaker .meta span {
  background: rgba(255,255,255,0.95);
  padding: 2px 7px 1px 7px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2), 0 0 2px rgba(0,0,0,0.1), 3px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2), 0 0 2px rgba(0,0,0,0.1), 3px 3px rgba(0,0,0,0.1);
  -webkit-border-radius: 1px;
  border-radius: 1px;
  cursor: pointer;
}
.speaker .meta:hover span {
  background: #fff;
}
.speaker .meta .button {
  padding: 10px 20px;
  cursor: pointer;
  background: transparent;
  margin: 0 -20px -10px -20px;
}
.speaker .meta .button span {
  background: rgba(68,68,68,0.8);
  color: #fff;
  font-size: 7pt;
  padding: 0 7px 1px 7px;
  letter-spacing: -1px;
}
.speaker .meta .button span:before {
  content: '\2022\2022\2022';
}
.speaker .meta .button:hover span {
  background: #ec553f;
}
.speaker .meta .button:active span {
  background: #111;
}
.speaker .meta h3 span {
  padding: 3px 7px 1px 7px;
  background-color: rgba(236,85,63,0.8);
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
  color: #fff;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.speaker .meta:hover h3 span {
  background-color: #ec553f;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
.speaker .meta h3:active span {
  background-color: #444;
}
.speaker .meta h3 {
  font-family: adelle, sans-serif;
  font-size: 18pt;
  font-weight: 900;
  text-transform: none;
  margin-bottom: 4px;
  cursor: pointer;
}
.speaker .name {
  color: #e5a141;
}
.speaker .location {
  color: #1e908c;
}
.speaker .discipline {
  color: #bcc58e;
}

