/* ----------------------------------------------------------------------------
 * Tickets
 */
.section.tickets {
  background: #e9eee0;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
/* Road ornament at the bottom */
}
.section.tickets .header {
  color: #ec553f;
  line-height: 1.3;
}
.section.tickets .header p {
  font-size: 14pt;
  color: #444;
  font-family: proxima-nova-alt, proxima-nova, proxima nova, sans-serif;
  font-weight: 700;
}
.section.tickets .o-road {
  background-image: url("title-road.png");
  height: 22px;
  width: 100%;
  position: relative;
  z-index: 5;
  border-bottom: solid 3px #e5a141;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .section.tickets .o-road {
    background-image: url("title-road@2x.png");
    -webkit-background-size: 471px 22px;
    -moz-background-size: 471px 22px;
    background-size: 471px 22px;
  }
}
.ticket-list {
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 600px) {
  .ticket-list .ticket {
    margin: 30px auto 30px auto;
  }
}
@media (min-width: 600px) {
  .ticket-list .ticket {
    margin: 20px 50px 10px 50px;
  }
}
.ticket-list .ticket {
  display: inline-block;
  width: 250px;
  height: 250px;
  -webkit-border-radius: 125px;
  border-radius: 125px;
  background: #fff;
  -webkit-box-shadow: 0 0 0 4px rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.05);
  box-shadow: 0 0 0 4px rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.05);
  text-align: center;
  line-height: 1.4;
  position: relative;
}
.ticket-list .ticket:after {
  content: '';
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 236px;
  height: 236px;
  -webkit-border-radius: 120px;
  border-radius: 120px;
  border: dotted 2px #ccc;
}
.ticket-list .ticket img {
  width: 70px;
  height: 120px;
  margin-top: -40px;
  background: #fdefe1;
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2), -1px 1px 1px rgba(0,0,0,0.2);
}
.ticket-list .ticket h3 {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #1e908c;
}
.ticket-list .ticket .price {
  font-size: 32pt;
  font-family: adelle, sans-serif;
  font-weight: 400;
  color: #ec553f;
  line-height: 1.1;
  margin-bottom: 7px;
  text-shadow: 1px 1px 0 #fff, 2px 2px 0 #c7f3f2;
}
.ticket-list .ticket .price:before,
.ticket-list .ticket .price:after {
  content: '\2219';
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
.ticket-list .ticket .price:before {
  margin-right: 10px;
}
.ticket-list .ticket .price:after {
  margin-left: 10px;
}
.ticket-list .ticket.student-pass .price {
  color: #bb906c;
}
.ticket-list .ticket .type {
  font-size: 9pt;
  width: 160px;
  margin: 3px auto 0 auto;
}
.ticket-list .ticket .type b {
  font-weight: bold;
}
/* Each pass contains: */
.pass-contents {
  margin: 20px auto;
  max-width: 800px;
  line-height: 1.7;
/* Desktop: Line them up horizontally */
/* Mobile: No breaks */
}
.pass-contents h3 {
  font-weight: 400;
  font-family: adelle, sans-serif;
  font-size: 1.5em;
  color: #1e908c;
  text-align: center;
  margin-bottom: 15px;
}
.pass-contents h3 span {
  padding-bottom: 15px;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}
@media (min-width: 600px) {
  .pass-contents {
    margin-top: -25px;
  }
}
.pass-contents ul {
  font-size: 1.2em;
  text-align: center;
  margin: 30px 0;
}
.pass-contents li {
  padding: 9px 0;
  text-align: center;
  line-height: 1.3;
}
@media (min-width: 600px) {
  .pass-contents li {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    margin: 0 10px;
  }
}
@media (max-width: 600px) {
  .pass-contents br {
    display: none;
  }
}
.pass-contents li strong {
  font-weight: bold;
  display: block;
  line-height: 1.3;
}
.pass-contents li small {
  display: block;
  font-size: 0.6em;
  font-weight: 400;
  font-family: adelle, sans-serif;
  color: #777;
  line-height: 1.6;
  margin-top: 3px;
}
.pass-contents span.free {
  background: #e5a141;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
  text-transform: uppercase;
  font-family: proxima-nova-alt, proxima-nova, proxima nova, sans-serif;
  font-weight: 700;
  padding: 2px 5px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-left: 5px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}
/* Important reminders: */
.pass-reminders {
  position: relative;
  background: rgba(0,0,0,0.05);
  padding: 40px 0;
  margin-top: 30px;
}
.pass-reminders:after {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 5;
  border-top: dotted 3px #e9eee0;
}
.pass-reminders .in {
  margin: 0 auto;
  max-width: 960px;
  text-align: left;
  line-height: 1.7;
  font-size: 0.8em;
}
.pass-reminders ul {
  zoom: 1;
}
.pass-reminders ul:before,
.pass-reminders ul:after {
  content: "";
  display: table;
}
.pass-reminders ul:after {
  clear: both;
}
.pass-reminders li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  display: block;
  float: left;
  width: 20%;
  text-align: center;
}
@media (max-width: 600px) {
  .pass-reminders li {
    float: none;
    width: auto;
  }
}
/* Box with 'buy now' button */
.buy-box {
  text-align: center;
  margin: 20px 0;
}
.buy-box .buy-button {
  display: inline-block;
  padding: 15px 30px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: #ec553f;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  line-height: 1.2;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1), 0 0 0 4px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1), 0 0 0 4px rgba(0,0,0,0.2);
}
.buy-box .buy-button strong,
.buy-box .buy-button small {
  display: block;
}
.buy-box .buy-button strong {
  font-weight: 700;
  font-family: proxima-nova-alt, proxima-nova, proxima nova, sans-serif;
  font-size: 16pt;
  text-transform: uppercase;
}
.buy-box .buy-button small {
  color: #fbddd9;
  font-family: adelle, sans-serif;
  font-size: 10pt;
  margin-top: 3px;
}
/* ----------------------------------------------------------------------------
 * Payment
 */
.payment-methods .in {
  padding: 20px;
}
@media (min-width: 600px) {
  .payment-methods .in {
    padding: 40px 0;
    width: 980px;
    margin: 0 auto;
    zoom: 1;
  }
  .payment-methods .in:before,
  .payment-methods .in:after {
    content: "";
    display: table;
  }
  .payment-methods .in:after {
    clear: both;
  }
}
.payment-methods .content {
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.payment-methods {
  font-size: 0.9em;
}
.establishments h3 {
  font-weight: bold;
  font-size: 1.1em;
}
.establishments h3 strong {
  color: #a1ae61;
  margin-left: 10px;
}
.establishments article {
  zoom: 1;
  margin-bottom: 20px;
}
.establishments article:before,
.establishments article:after {
  content: "";
  display: table;
}
.establishments article:after {
  clear: both;
}
.establishments article img {
  float: left;
  margin: 8px 15px 0 0;
  height: 40px;
  width: 40px;
  background: #fff;
  padding: 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2), 0 0 0 4px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2), 0 0 0 4px rgba(0,0,0,0.05);
}

