/* ----------------------------------------------------------------------------
 * Base
 */
body,
input,
td,
th,
textarea {
  font-family: proxima-nova-alt, proxima-nova, proxima nova, sans-serif;
  font-size: 11pt;
  line-height: 1.5;
  color: #444;
}
a {
  color: #1e908c;
  text-decoration: none;
}
.amp {
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  font-style: italic;
  font-family: baskerville, palatino, georgia, serif;
  font-weight: normal;
}
/* ----------------------------------------------------------------------------
 * Nav
 */
.navigation {
  position: fixed;
  left: 0;
  top: -20px;
  z-index: 100;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
  padding-top: 20px;
  -webkit-transition: box-shadow 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
  -moz-transition: box-shadow 300ms ease, background-color 300ms ease, -moz-transform 300ms ease;
  -o-transition: box-shadow 300ms ease, background-color 300ms ease, -o-transform 300ms ease;
  -ms-transition: box-shadow 300ms ease, background-color 300ms ease, -ms-transform 300ms ease;
  transition: box-shadow 300ms ease, background-color 300ms ease, transform 300ms ease;
}
.navigation {
  background-color: rgba(254,247,240,0.01);
}
.navigation:not(.stuck) {
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  transform: translate(0, 20px);
}
.navigation.stuck {
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 3px rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,0.2);
  background-color: rgba(254,247,240,0.95);
}
.navigation ul {
  display: block;
  float: left;
}
.navigation li {
  display: inline;
}
.navigation a {
  display: block;
  line-height: 52px;
  height: 52px;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 15px;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  text-shadow: 0 0 2px #fdefe1, 0 0 2px #fdefe1;
  background-color: rgba(229,161,65,0);
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.navigation a:hover {
  background-color: rgba(188,197,142,0.2);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
.navigation a.active {
  background-color: rgba(229,161,65,0.1);
}
.navigation a[href='#speakers'] {
  color: #bcc58e;
}
.navigation a[href='#tickets'] {
  color: #ec553f;
}
.navigation a[href='#about'] {
  color: #e5a141;
}
.navigation a.home {
  background: #ec553f;
  color: #fff;
  overflow: hidden;
  padding: 0;
  text-align: center;
  -webkit-transition: width 300ms ease, padding 300ms ease;
  -moz-transition: width 300ms ease, padding 300ms ease;
  -o-transition: width 300ms ease, padding 300ms ease;
  -ms-transition: width 300ms ease, padding 300ms ease;
  transition: width 300ms ease, padding 300ms ease;
}
.navigation a.home:hover {
  background: #444;
}
.navigation a.home {
  width: 0;
  padding: 0;
}
.navigation.stuck a.home {
  width: 60px;
}
.navigation .in {
  width: 980px;
  margin: 0 auto;
  zoom: 1;
}
.navigation .in:before,
.navigation .in:after {
  content: "";
  display: table;
}
.navigation .in:after {
  clear: both;
}
.navigation .share {
  float: right;
  margin-top: 4px;
  height: 22px;
  padding: 10px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}
.navigation:not(.stuck) .share,
.navigation:not(.stuck) ul {
  background: rgba(254,247,240,0.95);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
  box-shadow: 0 2px 1px rgba(0,0,0,0.1);
}
.navigation .share iframe {
  vertical-align: top;
}
/* ----------------------------------------------------------------------------
 * IE7 banner
 */
.unsupported-browser {
  padding: 20px;
  background: #e5a141;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  text-align: center;
}
.unsupported-browser strong {
  font-weight: bold;
  font-size: 1.1em;
}
.unsupported-browser a {
  background-color: #bcc58e;
  color: #fff;
  padding: 3px 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-left: 10px;
}
/* ----------------------------------------------------------------------------
 * Section base
 */
.section {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.section .header {
  text-align: center;
  margin: 50px 0;
  font-size: 36pt;
  font-family: adelle, sans-serif;
  font-weight: 900;
  position: relative;
  z-index: 5;
}
/* ----------------------------------------------------------------------------
 * Title
 */
.section.title {
  background: #fdefe1;
  border-bottom: solid 4px #e5a141;
}
.section.title .o-right {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 669px;
  height: 748px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 1;
}
.section.title .o-left {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 708px;
  height: 748px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 2;
}
.section.title .logo {
  margin: 170px auto 40px auto;
  text-align: center;
  position: relative;
  z-index: 5;
}
.section.title .logo img {
  width: 639px;
  height: 220px;
}
.section.title .info {
  margin: 40px auto 180px auto;
  font-size: 16pt;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  z-index: 4;
}
.section.title .info > * {
  text-align: center;
}
.section.title .time {
  color: #1e908c;
}
.section.title .venue {
  color: #e5a141;
  margin-bottom: 10px;
}
.section.title .address {
  font-size: 12pt;
}
.section.title .address.one {
  color: #ec553f;
}
.section.title .address.two {
  color: #008000;
}
.section.title .o-road {
  background-image: url("title-road.png");
  height: 22px;
  width: 100%;
  position: relative;
  z-index: 5;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .section.title .o-road {
    background-image: url("title-road@2x.png");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
@media (max-width: 1250px) {
  .section.title .o-right {
    right: -50px;
  }
  .section.title .o-left {
    left: -50px;
  }
}
@media (max-width: 1050px) {
  .section.title .o-right {
    right: -150px;
  }
  .section.title .o-left {
    left: -250px;
  }
}
@media (max-width: 800px) {
  .section.title .o-right {
    right: -450px;
  }
}
@media (max-width: 600px) {
  .section.title .o-left {
    left: -1000px;
  }
  .section.title .o-right {
    right: 0;
    opacity: 0.1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    filter: alpha(opacity=10);
  }
  .section.title .logo {
    margin: 40px auto 20px auto;
    width: 90%;
  }
  .section.title .logo img {
    width: 100%;
    height: auto;
  }
  .section.title .info {
    margin: 20px auto 40px auto;
  }
  .section.title .o-road {
    height: 11px;
    -webkit-background-size: 235px 11px;
    -moz-background-size: 235px 11px;
    background-size: 235px 11px;
  }
}

