/* ----------------------------------------------------------------------------
 * Title
 */
.section.title {
  background: #fdefe1;
}
.section.title .o-right {
  position: absolute;
  right: 0;
  top: -11px;
  width: 669px;
  height: 748px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 1;
}
.section.title .o-left {
  position: absolute;
  left: 0;
  top: -11px;
  width: 708px;
  height: 748px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 2;
}
.desktop .section.title .o-right,
.desktop .section.title .o-left {
  position: fixed;
}
.section.title .logo {
  margin: 170px auto 40px auto;
  text-align: center;
  position: relative;
  z-index: 5;
}
.section.title .logo img {
  width: 639px;
  height: 220px;
}
.section.title .info {
  margin: 40px auto 180px auto;
  font-size: 16pt;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  z-index: 4;
}
.section.title .info > * {
  text-align: center;
}
.section.title .time {
  color: #1e908c;
}
.section.title .venue {
  color: #e5a141;
  margin-bottom: 10px;
}
.section.title .address {
  font-size: 12pt;
}
.section.title .address.one {
  color: #ec553f;
}
.section.title .address.two {
  color: #008000;
}
.section.title .o-road {
  background-image: url("title-road.png");
  height: 22px;
  width: 100%;
  position: relative;
  z-index: 5;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .section.title .o-road {
    background-image: url("title-road@2x.png");
    -webkit-background-size: 471px 22px;
    -moz-background-size: 471px 22px;
    background-size: 471px 22px;
  }
}
@media (max-width: 1250px) {
  .section.title .o-right {
    right: -50px;
  }
  .section.title .o-left {
    left: -50px;
  }
}
@media (max-width: 1050px) {
  .section.title .o-right {
    right: -150px;
  }
  .section.title .o-left {
    left: -250px;
  }
}
@media (max-width: 800px) {
  .section.title .o-right {
    right: -450px;
  }
}
@media (max-width: 600px) {
  .section.title .o-left,
  .section.title .o-right {
    position: absolute;
    top: auto;
    bottom: 0;
  }
  .section.title .o-left {
    left: -1000px;
  }
  .section.title .o-right {
    right: 0;
    opacity: 0.1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    filter: alpha(opacity=10);
  }
  .section.title .logo {
    margin: 40px auto 20px auto;
    width: 90%;
  }
  .section.title .logo img {
    width: 100%;
    height: auto;
  }
  .section.title .info {
    margin: 20px auto 40px auto;
  }
  .section.title .o-road {
    height: 11px;
    -webkit-background-size: 235px 11px;
    -moz-background-size: 235px 11px;
    background-size: 235px 11px;
  }
}
/* Download poster */
.poster {
  background: rgba(255,252,249,0.8);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2), 0 0 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2), 0 0 2px rgba(0,0,0,0.2);
  font-size: 8pt;
  color: #444;
  text-shadow: 0 1px 1px rgba(255,255,255,0.2);
}
.poster p {
  color: #888;
  padding: 12px 15px;
}
.poster strong {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.4;
  color: #444;
}
.poster .button {
  font-weight: bold;
  padding: 2px 7px;
  margin: 5px 0;
  display: inline-block;
  background: #ec553f;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), 0 0 0 0px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), 0 0 0 0px rgba(0,0,0,0.2);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.poster .button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f17f6f), color-stop(1, #ec553f));
  background: -webkit-linear-gradient(top, #f17f6f 0%, #ec553f 100%);
  background: -moz-linear-gradient(top, #f17f6f 0%, #ec553f 100%);
  background: -o-linear-gradient(top, #f17f6f 0%, #ec553f 100%);
  background: -ms-linear-gradient(top, #f17f6f 0%, #ec553f 100%);
  background: linear-gradient(top, #f17f6f 0%, #ec553f 100%);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), 0 0 0 0px rgba(0,0,0,0.2), inset 0 2px rgba(255,255,255,0.2);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), 0 0 0 0px rgba(0,0,0,0.2), inset 0 2px rgba(255,255,255,0.2);
}
.poster .button:active {
  background: #eb4931;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), 0 0 0 0px rgba(0,0,0,0.2), inset 3px 3px 3px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), 0 0 0 0px rgba(0,0,0,0.2), inset 3px 3px 3px rgba(0,0,0,0.2);
}
.poster p.extra {
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.05), inset 0 4px 3px -3px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.05), inset 0 4px 3px -3px rgba(0,0,0,0.1);
  background: rgba(238,238,238,0.8);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.poster p.extra a {
  color: #666;
}
.poster p.extra a:hover {
  color: #f28879;
}
.section.title .poster {
  width: 170px;
  position: absolute;
  bottom: 40px;
  right: 20px;
  z-index: 50;
}

