/*
 * GM2013
 * CSS reset by Eric Meyer
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}

body,
input,
td,
th,
textarea {
  font-family: proxima-nova-alt, proxima-nova, proxima nova, sans-serif;
  font-size: 11pt;
  line-height: 1.5;
  color: #444;
}
a {
  color: #1e908c;
  text-decoration: none;
}
.unsupported-browser {
  padding: 20px;
  background: #e5a141;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  text-align: center;
}
.unsupported-browser strong {
  font-weight: bold;
  font-size: 1.1em;
}
.unsupported-browser a {
  background-color: #bcc58e;
  color: #fff;
  padding: 3px 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-left: 10px;
}
.section {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.section .header {
  text-align: center;
  margin: 50px 0;
  font-size: 36pt;
  font-family: adelle, sans-serif;
  font-weight: 900;
  position: relative;
  z-index: 5;
}
.section.title {
  background: #fdefe1;
}
.section.title .logo {
  margin: 180px auto 40px auto;
  text-align: center;
}
.section.title .logo img {
  width: 639px;
  height: 220px;
}
.section.title .info {
  margin: 40px auto 180px auto;
  font-size: 16pt;
  text-transform: uppercase;
  font-weight: bold;
}
.section.title .info > * {
  text-align: center;
}
.section.title .time {
  color: #1e908c;
}
.section.title .venue {
  color: #e5a141;
  margin-bottom: 10px;
}
.section.title .address {
  font-size: 12pt;
}
.section.title .address.one {
  color: #ec553f;
}
.section.title .address.two {
  color: #008000;
}
.section.title .o-road {
  background-image: url("title-road.png");
  height: 22px;
  width: 100%;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .section.title .o-road {
    background-image: url("title-road@2x.png");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
@media (max-width: 600px) {
  .section.title .logo {
    margin: 40px auto 20px auto;
    width: 90%;
  }
  .section.title .logo img {
    width: 100%;
    height: auto;
  }
  .section.title .info {
    margin: 20px auto 40px auto;
  }
  .section.title .o-road {
    height: 11px;
    -webkit-background-size: auto 11px;
    -moz-background-size: auto 11px;
    background-size: auto 11px;
    background-image: url("title-road.png");
  }
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
 {
      background-image: url("title-road@2x.png");
      -webkit-background-size: 235px 11px;
      -moz-background-size: 235px 11px;
      background-size: 235px 11px;
    }
}
}
.section.speakers {
  background: #1e908c url("speakers-bg.jpg");
  color: #fff;
  padding-bottom: 40px;
}
.section.speakers .header {
  color: #1e908c;
}
.section.speakers .o-waves {
  background: url("speakers-waves.jpg") center top;
  background-repeat: repeat-x;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 353px;
  z-index: 0;
}
.section.speakers .o-floaters {
  background-image: url("speakers-floaters.png");
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  left: -95px;
  top: 120px;
  width: 100%;
  height: 230px;
  z-index: 0;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .section.speakers .o-floaters {
    background-image: url("speakers-floaters@2x.png");
    -webkit-background-size: 1167px 230px;
    -moz-background-size: 1167px 230px;
    background-size: 1167px 230px;
  }
}
.speakers-list {
  zoom: 1;
  margin: 80px auto 0 auto;
  position: relative;
}
.speakers-list:before,
.speakers-list:after {
  content: "";
  display: table;
}
.speakers-list:after {
  clear: both;
}
@media (min-width: 980px) {
  .speakers-list {
    width: 980px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .speakers-list .speaker.left {
    float: left;
    clear: both;
  }
  .speakers-list .speaker.right {
    margin-top: 70px;
    float: right;
  }
  .speakers-list .o-hook {
    display: block;
    width: 4px;
    margin-left: -2px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 19px;
    bottom: 0;
    background: #fdefe1;
  }
  .speakers-list .speaker:after {
    content: '';
    display: block;
    height: 4px;
    width: 50px;
    position: absolute;
    bottom: 80px;
    z-index: 0;
    opacity: 0.5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: alpha(opacity=50);
  }
  .speakers-list .speaker.left:after {
    right: -20px;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(253,239,225,0)), color-stop(1, #fdefe1));
    background: -webkit-linear-gradient(left, rgba(253,239,225,0) 0%, #fdefe1 100%);
    background: -moz-linear-gradient(left, rgba(253,239,225,0) 0%, #fdefe1 100%);
    background: -o-linear-gradient(left, rgba(253,239,225,0) 0%, #fdefe1 100%);
    background: -ms-linear-gradient(left, rgba(253,239,225,0) 0%, #fdefe1 100%);
    background: linear-gradient(left, rgba(253,239,225,0) 0%, #fdefe1 100%);
  }
  .speakers-list .speaker.right:after {
    left: -20px;
    background: -webkit-gradient(linear, right top, left top, color-stop(0, rgba(253,239,225,0)), color-stop(1, #fdefe1));
    background: -webkit-linear-gradient(right, rgba(253,239,225,0) 0%, #fdefe1 100%);
    background: -moz-linear-gradient(right, rgba(253,239,225,0) 0%, #fdefe1 100%);
    background: -o-linear-gradient(right, rgba(253,239,225,0) 0%, #fdefe1 100%);
    background: -ms-linear-gradient(right, rgba(253,239,225,0) 0%, #fdefe1 100%);
    background: linear-gradient(right, rgba(253,239,225,0) 0%, #fdefe1 100%);
  }
}
@media (max-width: 980px) {
  .speakers-list {
    padding-top: 70px;
  }
  .speakers-list .speaker {
    display: block;
    margin: 20px auto;
  }
}
.speaker {
  display: block;
  position: relative;
  padding: 10px;
  background: rgba(0,0,0,0.1);
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1);
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1);
}
.speaker,
.speaker .front,
.speaker .back,
.speaker .hero {
  width: 450px;
  height: 270px;
}
.speaker .front,
.speaker .back,
.speaker .hero {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.speaker {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  perspective: 2000px;
}
.speaker .front,
.speaker .back {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  -webkit-transition: -webkit-transform 200ms ease;
  -moz-transition: -moz-transform 200ms ease;
  -o-transition: -o-transform 200ms ease;
  -ms-transition: -ms-transform 200ms ease;
  transition: transform 200ms ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.speaker .back {
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  -o-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.speaker:hover .front,
.speaker.active .front {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.speaker:hover .back,
.speaker.active .back {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -o-transform: rotateX(0);
  -ms-transform: rotateX(0);
  transform: rotateX(0);
}
.speaker .back {
  background: #fff;
  padding: 20px;
  color: #444;
}
.speaker .meta {
  position: absolute;
  z-index: 1;
  background: #fff;
  padding: 10px 30px 10px 10px;
  bottom: 20px;
  right: 20px;
  text-transform: uppercase;
  color: #444;
  font-weight: bold;
  line-height: 1.4;
  font-size: 10pt;
}
.speaker .meta h3 {
  font-family: adelle, sans-serif;
  font-size: 18pt;
  color: #ec553f;
  font-weight: 900;
  text-transform: none;
  margin-bottom: 4px;
}
.speaker .name {
  color: #e5a141;
}
.speaker .location {
  color: #1e908c;
}
.speaker .discipline {
  color: #bcc58e;
}
.speaker.right .meta {
  right: auto;
  left: 20px;
}

