/*
 * GM2013
 * CSS reset by Eric Meyer
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}

body,
input,
td,
th,
textarea {
  font-family: proxima nova, sans-serif;
  font-size: 10pt;
  line-height: 1.5;
  color: #444;
}
.section.title {
  background: #fdefe1;
  padding: 40px 0;
}
.section.title .logo {
  margin: 40px auto;
  text-align: center;
}
.section.title .logo img {
  width: 639px;
  height: 220px;
}
.section.title .info {
  margin: 40px auto;
  font-size: 16pt;
  text-transform: uppercase;
  font-weight: bold;
}
.section.title .info > * {
  text-align: center;
}
.section.title .time {
  color: #1e908c;
}
.section.title .venue {
  color: #e5a141;
}
@media (max-width: 600px) {
  .section.title {
    padding: 0 20px;
    overflow: hidden;
  }
  .section.title .logo {
    margin: 20px auto;
  }
  .section.title .logo img {
    width: 100%;
    height: auto;
  }
  .section.title .info {
    margin: 20px auto;
  }
}

